extends secret-layout

block individualcss
  link(rel='stylesheet', href='/css/event.css')

block secret-content
  header.row.header
    h1 Create an event!
    for e in event
      .row.eventItemRow(style='margin: 10px;') 
        .hidden #{e._id}
        .col-md-6 Name: #{e.name}
        .col-md-6 Starting Time: #{e.timestart}
        .col-md-6 Date: #{e.date}
        .col-md-6 Location: #{e.location}
        .col-md-6 Description: #{e.description}
        button.updateEventBtn.btn.btn-success(type='button') Update
        
          
  section#createdEventList.row
    .col-md-12
  section.row.create
    .col-md-2.createEvent
      button#createEventBtn.btn.btn-success(type='button') Create

  #createform.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Create Event
        .modal-body
          .form-group
            label(for='eventName' name="name") Event Name
            input#eventName.form-control(type='text', placeholder='Enter event name')
          .form-group
            label(for='eventDescription') Event Description
            input#eventDescription.form-control(type='text', placeholder='Enter event description' name="description")
          .form-group
            label(for='eventDate') Event Date
            input#eventDate.form-control(type='text', placeholder='Enter event date' name="date")
          .form-group
            label(for='eventLocation') Event Location
            input#eventLocation.form-control(type='text', placeholder='Enter event location' name="location")
          .form-group
            label(for='eventTime') Event Time
            input#eventTime.form-control(type='text', placeholder='Enter event start time' name="timestart")
            input#id.form-control(type='hidden')
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button#createEvent.btn.btn-primary.submit(type='Submit') Create

  #updateform.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Update Event
        .modal-body
          .form-group
            label(for='eventName' name="name") Event Name
            input#eventUpdateName.form-control(type='text', placeholder='Enter name')
          .form-group
            label(for='eventDescription') Event Description
            input#eventUpdateDescription.form-control(type='text', placeholder='Enter description' name="description")
          .form-group
            label(for='eventDate') Event Date
            input#eventUpdateDate.form-control(type='text', placeholder='Enter date' name="date")
          .form-group
            label(for='eventLocation') Event Location
            input#eventUpdateLocation.form-control(type='text', placeholder='Enter location' name="location")
          .form-group
            label(for='eventTime') Event Time
            input#eventUpdateTime.form-control(type='text', placeholder='Enter start time' name="timestart")
            input#id.form-control(type='hidden')
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button#updateEvent.btn.btn-primary.submit(type='Submit') Update

  script#eventRowTpl(type='text/template').
    <div class="row event" data-id="{{Id}}">
    <div class="col-md-6 eventName">{{eventName}}</div>
    <br />
    <div class="col-md-6 eventDescription">{{eventDescription}}</div>
    <br />
    <div class="col-md-6 eventDate">{{eventDate}}</div>
    <br />
    <div class="col-md-6 eventLocation">{{eventLocation}}</div>
    <br />
    <div class="col-md-6 eventTime">{{eventTime}}</div>
    <br />
    <div class="col-md-2 delete">
      <button type="button" class="btn btn-danger">Delete</button>
    </div>
    <div class="col-md-2 update">
      <button type="button" class="btn btn-info">Update</button>
    </div>
    </div>


block scripts
  script(src='../js/main.js')
